@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


.nav{ 
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: #000A66;
    mix-blend-mode: normal;
} 

.mae-2{
  height: 100%;
}

.filtros-entrevista2{ 
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  /* margin-right: 18vw; */
  margin-top: 10px;
  /* margin-bottom: 10px; */
  padding-right: 10vw;
}

/* .navbar{
  width: 100%;
  height: 60px;
} */

.logo-apita{
  /** animação de aumentar **/
  transition: .2s;
}
.logo-apita:hover{
  /** animação de aumentar **/
  transform: scale(1.2);
}

.container-noticia{
  margin: 0px;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-end;
    object-fit: contain;
    /* padding: 90px; */
    align-content: space-around;
    flex-direction: column;
}
.container-noticia-2{
    margin: 0px;
  /*   max-height: 100vh;
    height: 100vh; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-end;
    object-fit: contain;
    /* padding: 90px; */
    align-content: space-around;
    flex-direction: column;
}

body{
  overflow-x: hidden;
}

.sub-container-noticia{
  height: 400px !important;
  width: 719px;
  max-width: 719px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0px 5px 15px 5px rgb(0 0 0 / 18%);
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding: 30px;
  /* height: fit-content; */
  background-color: white;
  transition: transform .2s;
  flex-direction: row;
  /* justify-content: flex-end; */
  z-index: 0 !important;
  scale: 1;
  flex-wrap: nowrap;
  margin: 20px;
  align-content: space-around;
} 
.sub-container-noticia-2{
  height: 400px !important;
  width: 719px;
  max-width: 719px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0px 5px 15px 5px rgb(0 0 0 / 18%);
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding: 30px;
  /* height: fit-content; */
  background-color: white;
  transition: transform .2s;
  flex-direction: row;
  /* justify-content: flex-end; */
  z-index: 0 !important;
  scale: 1;
  flex-wrap: nowrap;
  margin: 20px;
  align-content: space-around;
} 
  
 .container-4{
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: #527e54;
  padding: 13vw;
 }

 .sub-container-4{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  margin-right: 20px;
 }

 .h1-vn{
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 0.11em;
  text-align: justify;
 }

 p{
  color: white;
  text-align: justify;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
 }

a{
  color: #ffe81d;
}

a:hover{
  scale: 1.2;
}

 .dropdown{
    margin: 10px;
 }

 .aaaa{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  flex-wrap: wrap;
  width: 45vw;
  align-content: center;
  justify-content: space-evenly;
}

.sub-container-n2{
  display: flex;
  align-items: center;
  flex-direction: row;
  /* height: 100vh; */
  flex-wrap: wrap;
  width: 100vw;
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 1366px) {
  .sub-container-noticia, .sub-container-noticia-2{
    height: 200px !important;
    width: 500px;
    max-width: 719px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0px 5px 15px 5px rgb(0 0 0 / 18%);
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding: 30px;
    /* height: fit-content; */
    background-color: white;
    transition: transform .2s;
    flex-direction: row;
    /* justify-content: flex-end; */
    z-index: 0 !important;
    scale: 1;
    flex-wrap: nowrap;
    margin: 20px;
    align-content: space-around;
  } 

  .img-1{
    min-width: 100px !important;
    max-width: 230px !important;
    max-height: 200px !important;
    object-fit: cover;
    border-radius: 40px;
  }

  .h1-hero{
    font-size: 12px !important; 
  }

  .aaaa{
    width: 60vw;
  }

  .container-noticia{
    align-items: center;
  }
}