@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');



.nav{ 
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: #000A66;
    mix-blend-mode: normal;
} 



.body {
  background-color: #FFE81D;
  opacity: 1;
  background-image:  linear-gradient(#000A66 1px, transparent 1px), linear-gradient(to right, #000A66 1px, #FFE81D 1px);
  background-size: 20px 20px;
}
#logo {
    /* IMG DA LOGO*/
    height: 60px;
} 

.logo{
    float: left;
    padding-left: 10rem;
    display: flex;
    align-items: center;
    color: #FFE81D;
    font-family: 'Roboto';
    text-decoration: none;
    letter-spacing: 0.175em;
    height: 60px;
}

.icon{

    display: flex;
    align-items: center;
    color: #BDB606;
    font-family: 'Roboto';
    text-decoration: none;
    letter-spacing: 0.175em;
    height: 20px;
    padding: 20px;


}

/* #icon{
    height: 20px;
    padding: 20px;
} */


.links{  /* estilização icons navbar */
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 10rem;
    margin-left: 10px;
}

#carousel{

  padding-top: 20vh;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-out;
  object-fit: contain;
}


/* body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin: 20% 10%;
    width: 50%;
    transition: all 0.3s ease-out;
    height: auto;
  }
  
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }
  
  .image {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }
  
  .blue {
    border-left: 3px solid #4895ff;
  }
  
  .green {
    border-left: 3px solid #3bb54a;
  }
  
  .red {
    border-left: 3px solid #b3404a;
  }  


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0px -3px 7px 0px rgba(50, 50, 50, 0.53);
    -moz-box-shadow: 0px -3px 7px 0px rgba(50, 50, 50, 0.53);
    box-shadow: 0px -3px 7px 0px rgba(50, 50, 50, 0.53);
    height: 50px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.item {
    margin: 10px 50px;
}

.images {
    max-width: 100%;
    height: auto;
    width: 100%;
} */
/* .col-md-8 {
    height: auto;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 200px;
    margin-left: 80px;
  }

.card-body {
    width: 70%;
    height: 70%;
    position: sticky;
}

.card-mb-3{
    margin: 20% 10%;
    width: 50%;
    height: auto;
    align-items: right;

}

.static-images {
    margin: 20% 10%;
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.col-md-4 {
    margin: 30% 20%;
    width: auto;
    height: auto;
    position: sticky;

}
 */