@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.nav{ 
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: #527E54;
    mix-blend-mode: normal;
    z-index: 1;
    box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.37);
} 
.navbar{
  width: 100%;
  height: 60px;
  
}

.logo-apita{
  /** animação de aumentar **/
  transition: .2s;
}
.logo-apita:hover{
  /** animação de aumentar **/
  transform: scale(1.2);
}

.mae{
  background-image: url("../images/background-apita.jpg");
  background-size: contain;
  /* overflow: hidden; */
}

.h2-2{
  text-transform: uppercase;
}

#logo {
    /* IMG DA LOGO*/
    height: 60px;
} 
.logo{
    float: left;
    padding-left: 10rem;
    display: flex;
    align-items: center;
    color: #FFE81D;
    font-family: 'Roboto';
    text-decoration: none;
    letter-spacing: 0.175em;
    height: 60px;
}
.ver-mais-hero{
  font-family: 'Roboto';
  font-weight: 400 !important;
  color: black !important;
  text-decoration: none;
  text-transform: uppercase;
}
.ver-mais-hero::hover{
  font-family: 'Roboto';
  font-weight: 400 !important;
  color: black !important;
  text-decoration: none;
}
.btn:hover{
  background-color: rgb(227, 227, 227) !important;
  border-color: rgb(227, 227, 227) !important;
}
.container-2{
  background-color: #527E54;
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 48px 5px rgba(0,0,0,0.48);
}
button{
  border-radius: 90px !important;
}
.text-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
  color: white;
  width:600px;
}
.icon{
    display: flex;
    align-items: center;
    color: #DAA520;
    font-family: 'Roboto';
    text-decoration: none;
    letter-spacing: 0.175em;
    /**height: 20px; */
    padding: 20px;
    
}

#icon{
  transition: transform .2s;
}

#icon:hover{
  transform: scale(1.1);
}
/* #icon{
    height: 20px;
    padding: 20px;
} */
.form-login{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    align-items: stretch;
    width: 50vh;
    padding: 20px;
    height: 50vh;
    justify-content: space-evenly;
    border-radius: 20px;
    margin: 10px;
}
.botoes-login{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

label{
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.2rem;
}

.input-login{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: ridge;
  background-color: transparent;
  color: white;
  font-size: large;
  font-weight: bolder;
  padding: 10px;
}
.btn-light{
  font-weight: bolder;
}

.btn{
  border-radius: 20px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
}


.icon-com-foto{
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 100px;
}
.input-login::placeholder{
  color: white;
  font-size: large;
  font-weight: bolder;
  padding: 10px;
}
.input-login::focus-visible{
  border-bottom: ridge;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
.links{  /* estilização icons navbar */
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 10rem;
    margin-left: 10px;
    fill: #FFE81D;
}
 .container{
  max-height: 100vh;
  height: 100vh;
  display: flex;
   flex-flow: row wrap;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  padding: 30px;
  align-content: center;
  object-fit: contain;
  padding: 90px;
} 

.mae-login{
  background-image: url('../images/background-login.jpg');
  background-size: cover;
  display: flex;
}

.sub-container{
  display: flex;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.18);
  padding-left: 20px;
  padding-right: 20px;
  padding: 30px;
  flex-direction: row;
  height: fit-content;
  background-color: white;
  transition: transform .2s;
  flex-direction: row;
  justify-content: space-around;
  z-index: 0 !important;
  scale: 1.2;

} 

.sub-container:hover{
  transform: scale(1.1);
  z-index: 0 !important;

}

.sub-container-2{
  display: flex;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.18);
  padding-left: 20px;
  padding-right: 20px;
  padding: 30px;
  flex-direction: row;
  height: fit-content;
  background-color: white;
  transition: transform .2s;
  flex-direction: row;
  justify-content: space-around;

} 
/* 
.sub-container-2:hover{
=======


.sub-container:hover{
  transform: scale(1.1);

} */

.hero-section{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  margin: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.h1-hero{
  text-align: justify;
  text-transform: uppercase;
}

.p-hero{
  display: flex; 
  text-align: justify;
}

.enter-hero{
  width: 10px;
  color: yellow !important;
}

.img-hero{
  max-width: 50%;
  object-fit: contain;
}

h1{
  text-align: center;
}

.container{
display: flex;
}

.entrevista{
  display: flex;
  background: white;
  /* transition: transform .2s; */
}

.entrevista-1{
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  z-index: 1;
}

.entrevista-1:hover{
  transform: scale(1.04);
  box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.59);
}

.entrevista-2{
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  z-index: 2;
}

.entrevista-2:hover{
  transform: scale(1.04);
  box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.59);
}

.entrevista-3{
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  z-index: 3;
}

.entrevista-3:hover{
  transform: scale(1.04);
  box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.59);
}



.info-entrevista{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  margin: 40px;
  margin-left: 9vw;
  justify-content: center;
  width: 50vw;
}

.conteudo-entrevista{
  display: flex;
}

.img-entrevista{
  border-top-left-radius: 90px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  /* min-height: 400px; */
  max-height: 400px;
  min-width: 750px;
  object-fit: cover;
  /* box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.59); */
}



.info-entrevista-2{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
  margin: 40px;
  margin-right: 9vw;
  justify-content: center;
}

.conteudo-entrevista-2{
  display: flex;
  flex-direction: row-reverse;
}

.img-entrevista-2{
  border-top-right-radius: 90px;
 /*  min-height: 400px; */
  max-height: 400px;
  min-width: 750px;
  object-fit: cover;
  /* box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.59); */
}

.entrevista-2{
  display: flex;
  background: white;
}

.filtros-entrevista{
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.container-3{
  display: flex;
    flex-direction: row;
    height: 50vh;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    padding: 200px;
}

.container-perfil{
  display: flex;
}