@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:wght@300;400;700&display=swap');

.all{
    max-height: 88vh !important;
    margin-top: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.n-1{
    height: 100%;
    margin-top: 6.5vh;
    margin-left: 12vw;
    margin-right: 12vw;
}

.h2-n1{
    font-family: 'Roboto Condensed';
    font-weight: 800;
    line-height: 42px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px !important;
    color: #198754;
    margin-bottom: 30px;
}

.sub-n1{
    display: flex;
    align-items: center;
    WIDTH: 80vw;
    justify-content: space-around;
    background-color: #c7c7c7;
}

.sub-t{
    text-align: justify;
    margin: 2rem;
}

.img-n1{
    width: 600px;
    max-width: 600px;
    height: 400px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 40px;
    margin: 2rem;
}

.articles-n1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.article{
    margin-top: 30px;
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: stretch;
}

.img-a{
    width: 250px;
    HEIGHT: 170px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 0px 130px -51px rgba(0,0,0,0.98);
}

.h4-a{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 15px;
}

.h2-n1{
    font-size: 40px;
}

p{
    font-size: 20px;
    font-family: 'Roboto Condensed';
    font-weight: 400px;
}

.h3-n1{
    font-family: 'Roboto Condensed';
    font-weight: 800;
    text-transform: uppercase !important;
}

a{
    text-decoration: none !important;
    color: black !important;
    font-family: 'Roboto Condensed';
}

.h2-ent{
    margin-top: 5vh;
    font-family: 'Roboto Condensed';
    font-weight: 800;
    line-height: 42px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px !important;
    color: #198754;
    margin-bottom: 30px;
}

