@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.nav{ 
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: #000A66;
    mix-blend-mode: normal;
} 
.navbar{
  width: 100%;
  height: 60px;
}

.logo-apita{
  /** animação de aumentar **/
  transition: .2s;
}
.logo-apita:hover{
  /** animação de aumentar **/
  transform: scale(1.2);
}

.container-noticia{
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px;
    align-content: center;
    object-fit: contain;
    padding: 90px;
    align-content: space-around;

}

.sub-container-noticia{
    max-height: 70vh;
    height: 70vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px; 
    align-content: center;
    object-fit: contain;
    padding: 90px;
    box-shadow:0px 5px 15px 5px rgba(0,0,0,0.18); 
   } 
  
 
